
  
   <!--<div class="container" 
   style="text-align: center; margin-bottom: 1rem; 
    margin-top: 2rem; margin-left: 5rem; padding-bottom: 70px">-->
  

<div class="row" style=" margin-top: 3rem; margin-left: 10rem;"  class="text-center" >
  
  <div class="container" class="col-sm-10">
 

    <form (ngSubmit)="obtenerFormulario(formularioUsario)" #formularioUsario="ngForm">

      <div class="form-group" class="col-md-6">
        <h5>
          INGRESAR CORREO ELECTRONICO 
          </h5>
      
        <input 
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        [(ngModel)]="email"
          name="email"
          placeholder="INGRESAR CORREO"  
          required
          pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
          #campoEmail="ngModel">
          
       <!--{{campoEmail.errors | json}} PARA QUE NO APAREZCA NULL CUANDO SE LLENAN LOS DATOS--> 
  
      
      <div
      class="alert alert-danger"
      role="alert"
      *ngIf="(campoEmail.errors)
      && campoEmail.dirty === true">
        <p
        *ngIf="campoEmail.errors.required">
          Campo email requerido
        </p>
        <p
        *ngIf="campoEmail.errors.pattern">
          No es email
        </p>
      </div>
    </div>
      <!--////////////////////////////NOMBRE/////////////////////////////////////////////////-->
    
      <div class="form-group" class="col-md-6">
      <h5> NOMBRE</h5>

      <input
      type="text"
      class="form-control"
      id="text2"
      aria-describedby="text"
      [(ngModel)]="name"
        name="name"
      placeholder="ESCRIBA SU NOMBRE"
        minlength="5"
        required
        pattern="[a-zA-Z]{2,6}" 
        #camponame="ngModel">
      
     </div>
    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(camponame.errors)
    && camponame.dirty === true">
      <p
      *ngIf="camponame.errors.required">
        ESTE CAMPO ES OBLIGATORIO
      </p>
      <p
      *ngIf="camponame.errors.minlength">
       MINIMO 5 LETRAS
      </p>
      <p
      *ngIf="camponame.errors.pattern">
        NO ES NOMBRE
      </p>
    </div>
  
     
      <!--////////////////////////////APELLIDO/////////////////////////////////////////////////-->
      <div class="form-group" class="col-md-6">
      <h5>APELLIDO</h5>
      
  
        <input
        type="text"
        class="form-control"
        id="text2"
        aria-describedby="text"
        [(ngModel)]="surname"
          name="surname"
          placeholder="ESCRIBA SU APELLIDO"
          minlength="5"
          required
          pattern="[a-zA-Z]{2,6}" 
          #campoSurname="ngModel">
          
       </div>
      <div
      class="alert alert-danger"
      role="alert"
      *ngIf="(campoSurname.errors)
      && campoSurname.dirty === true">
        <p
        *ngIf="campoSurname.errors.required">
          ESTE CAMPO ES OBLIGATORIO
        </p>
        <p
        *ngIf="campoSurname.errors.minlength">
         MINIMO 5 LETRAS
        </p>
        <p
        *ngIf="campoSurname.errors.pattern">
          NO ES APELLIDO
        </p>
      </div>
  
    <!--////////////////////////////CLAVE/////////////////////////////////////////////////-->
    <div class="form-group" class="col-md-6">
    <h5>
      INGRESAR CLAVE
    </h5>

        <input
        type="password"
        class="form-control"
        id="exampleInput"
        aria-describedby="emai"
        [(ngModel)]="contrasena"
          name="contrasena"
          placeholder="****"
          minlength="4"
          maxlength="4"
          required
          pattern="[1,2,3,4,5,6,7,8,9,0]{2,6}"
          #campoContrasena="ngModel">
        </div>
      
      <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(campoContrasena.errors)
    && campoEmail.dirty === true">
      <p
      *ngIf="campoContrasena.errors.required">
        CAMPO OBLIGATORIO
      </p>
      <p
      *ngIf="campoContrasena.errors.minlength">
       SOLO 4 DIGITOS
      </p>
      <p
      *ngIf="campoContrasena.errors.maxlength">
       SOLO 4 DIGITOS
      </p>
      <p
          *ngIf="campoContrasena.errors.pattern">
            ESTA CLAVE NO ES VALIDA
          </p>
    </div>
   
  
   <!--////////////////////////BOTON/////////////////////////////////////////////////////-->
   <div class="col-md-2" > 
      <button 
      [disabled]="formularioUsario.invalid"
      type="submit" 
      class="btn btn-outline-success btn-block animate__animated"
      style="margin-top: 1rem;  ">
      INGRESAR</button>
    
   
      <button 
      [routerLink]="['/home']"
      type="button" 
      class="btn btn-outline-danger btn-block animate__animated">REGRESAR</button>
    </div>
    </form>

</div>

</div>

 
  
    
      
      

  
