.titulo{
    color: green;
}
.row{
    color: white;
    background-color:  black;
    
    
}
img{
    width: 250px;
    height: 120px;
    padding-left: 40px;
    background-color: #000;
}

p{
    
    background-color: black;
    color: white;
}
button{
    color: #999999;
    background-color: black;


}
.boton1{
    color: white;
    background-color: black;
    width: 350px;
    height: 70px;

}
