<div class="container">
  <h1 class="titulo">
    TITULO
  </h1>

  <div class="row" style="background-color: yellow;">
    FILA
    <div class="col-sm-12" style="background-color: chocolate;">
      columna 12
    </div>
    <div class="col-sm-6" style="background-color: green;">
      columna 6
    </div>
    <div class="col-sm-6" style="background-color: goldenrod;">
      columna 6
    </div>
    <div class="col-sm-4" style="background-color: rebeccapurple;">
      columna 4
    </div>
    <div class="col-sm-4" style="background-color: red;">
      columna 4
    </div>
    <div class="col-sm-4" style="background-color: gray;">
      columna 4
    </div>
  </div>

</div>
<div>
</div>

<h1>
  DIRECTIVAS
</h1>
<h2>angular => ngIf</h2>

<button type="button" 
class="btn btn-outline-success" 
(click)="eventoClick()">
  Success</button>
<p *ngIf="esconderHola">
  hola
</p>

<h2>angular => ngfor</h2>
{{arregloNuemros}}
<li *ngFor="let numero of arregloNuemros">
  <ul> {{numero.nombre}} </ul>
</li>

<h1>
  emmet
</h1>
*3
+
>
.clase
<div class="titulo"></div>


<div class="row titulo"></div>

<div class="nombreClase">
</div>

<div class="row">
  <div class="col-sm-12"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
</div>
<div style="background-color: black;">
  <div class="container" >
  <nav class=" o-navbar-mobile o-navbar-opened" style="padding-bottom: 200px;"> <!--style="padding-bottom: 200px espacio abajo de pagina-->
    <div class="row">
      <ul class="nav">
        <img src="https://i.pinimg.com/originals/37/a1/df/37a1dfbe9b5e0f265656a0635ad94cb6.jpg" style="height: 100px; width: 150px;">
          <li class="nav-item">
          <a class="nav-link active" href="#" style="padding-top: 25%;">PRODUCTOS</a> <!--style="padding-top: 25%; centrar producto-->
          <div class="row">
           
          </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="padding-top: 25%;">INSPIRACION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="padding-top: 20%;">GAMING ACADEMY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"style="padding-top: 28%;">REGISTRATE</a>
        </li>
      </ul>
    </div>
  

    <hr style="background-color: white;"> <!--linea entre cabecera y cuerpo-->
 
    <img src="https://asset-americas.unileversolutions.com/content/dam/unilever/axe/mexico/general_image/axe_ice_chill_bannerweb_v2-1673279-png.png.ulenscale.1140x642.png" 
    style="width: auto; height: auto;">
    <br>
    <div class="row">
      <div class="col-md-6"  style="padding-top: 40px; text-align: left;">
        <h1>RELAJATE </h1>
        <h5  class="text-align-left">
          <p >Si intentas demasiado ¡ey, ey, ey! Relájate. El nuevo Axe Ice Chill baja la temperatura de tu piel 6º C, porque ya sabes, mientras más fresco, más atractivo.
          </p>
        </h5>
  
      </div>
      <div class="col-md-6">
        <img src="https://i.ytimg.com/vi/4lFeBRbklTM/maxresdefault.jpg" style="padding-top: 10%; width: 550px; height: 500px;">
      </div>
         <!-- padding-top: 10% para salto con la otra imagen-->
    </div>
     
    
  
  <div class="row">
    <div class="col-md-6" style="padding-top: 40px; text-align: left;">
      <h1>PRODUCTOS</h1>
      <h5  class="text-align-left;">
      <p>Conoce todos nuestros productos de cuidado personal que pueden ayudarte a sacar lo mejor de ti.</p>
    </h5>
      <button type="button" class="boton1" style="font-size: 15px;" >VER TODOS LOS PRODUCTOS</button>
    </div>
    <div class="col-md-6"><img src="https://www.larepublica.net/storage/images/2018/03/20/201803201016220.fb.jpg" 
      style="padding-top: 10%; width: 500px; height: 350px;"></div>
  </div>

  <div class="row">
    <div style="padding-top: 40px; text-align: center; font-size: 30px;">O BUSCA POR CATEGORÍA<br> 
      <button type="button" class="btn btn-dark" style="margin: 12px">CABELLO</button>
      <button type="button" class="btn btn-dark" style="margin: 12px">DESODORANTE Y ANTITRANSPIRANTE</button>
      <button type="button" class="btn btn-dark" style="margin: 12px">JABON LIQUIDO</button>
    </div>
  </div><br> <br> 
  <hr style="background-color: white;"> 
    </nav>
</div>
 </div>



