<h1>TITULO</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<img 
src="https://www.fcbarcelona.com/fcbarcelona/photo/2019/11/15/a88146ca-3960-42f5-bb09-93d5e5173b6a/comunicacio-institucional.jpg"
width="400px"
height="400px"
alt="">
<p>listas no ordenadas</p>
<ul>
<li>opcion</li>
<li>opcion</li>
</ul>
<p>listas ordenadas etiqueta ol</p>
<ol>
<li>opcion</li>
<li>opcion</li>
</ol>

<app-padre>

</app-padre>

<router-outlet></router-outlet>
<app-mi-primer-componente  
[titulo]="tituloPadre" 
[nombreBoton]="nombreBotonPadre"
[imagenPath]="imagenPadre"
[datos]="datosHijo"
(saludoHijo)="obtenerRespuestaHijo($event)"
>
