 <div class="container" 
  style="background-color: white;">
  <nav class=" o-navbar-mobile o-navbar-opened" style="padding-bottom: 70px;"> <!--style="padding-bottom: 200px espacio abajo de pagina-->
    <div class="row" style="margin-bottom: 1rem; margin-top: 2rem; margin-left: 5rem;">
      <h1 style="margin-top: 2rem; margin-left: 12rem; color: red;">
        VENTA DE CELULARES K&I</h1>
      <ul class="nav">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIYCMoedsC5uMzCQ1K4QsuYvNU4MDaGaQgPzgOvX3Lo7L209kh&usqp=CAU" 
        style="height: 140px; width: 200px; padding-top: 2rem;">
          <li class="nav-item" style="margin-left: 6rem">
          <a class="nav-link active" href="#" style="padding-top: 40%;"
          [routerLink]="['/home','login']">
         <h5>REGISTRARSE</h5></a> <!--style="padding-top: 25%; centrar producto-->
          <div class="row">
          </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" style="padding-top: 35%;"
          [routerLink]="['/home','iniciar-sesion']"
          ><h5>INICIAR SESION</h5></a>
        </li>
      </ul>
    </div>

    <hr style="background-color: black;"> <!--linea entre cabecera y cuerpo-->
   <!--///////////////////////////////////////////////-->
   <div class="row" style="margin-left: 10rem">
   <iframe width="800" height="600;" 
   src="https://www.youtube.com/embed/terZXVtLmE0?autoplay=1" 
   frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <!--///////////////////////////////////////////////-->
    <!--DEBAJO DE REGISTRARSE E INICIAR SESION-->
    <div class="row"  >
      <div class="col-md-6" style="padding-top: 40px; text-align: left;">
        <h1 style="text-align: center; padding-top: 3rem; color:red">CELULARES GAMA ALTA</h1>
        <h5 style="text-align: center;">
        <p>
          La gama alta simboliza todo lo que puede dar de sí la tecnología, sin necesidad de restringir las especificaciones para que se adapten a un presupuesto más reducido. En este artículo recopilamos los mejores móviles de gama alta con los que puedes hacerte hoy en día.
       </p>
      </h5>
      </div>
      <div class="col-md-6"><img src="https://i.blogs.es/a0df50/mejores-gama-alta/1366_2000.jpg" 
        style="padding-top: 5%; width: 500px; height: 350px;"></div>
    </div>
<!--///////////////////////////////////////////////-->
    <div class="row"  >
      <div class="col-md-6" style="padding-top: 40px; text-align: left;">
        <h1 style="text-align: center; padding-top: 3rem; color:red">CELULARES GAMA MEDIA</h1>
        <h5 style="text-align: center;">
        <p>
          La gama media de smartphone es el sector en el que más móviles se venden. Aunque se trata de un segmento de lo más amplio en el que nos podemos encontrar con notables diferencias entre los teléfonos. Por lo que comprar un smartphone de gama media supone en muchos casos una apuesta de calidad.
       </p>
      </h5>
      </div>
      <div class="col-md-6"><img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2017/10/268035-mejores-moviles-gama-media-que-puedes-comprar-2017.jpg?itok=_ffcEZ2N" 
        style="padding-top: 5%; width: 500px; height: 350px;"></div>
    </div>
 <!--///////////////////////////////////////////////-->
 <div class="row"  >
  <div class="col-md-6" style="padding-top: 40px; text-align: left;">
    <h1 style="text-align: center; padding-top: 3rem; color:red">CELULARES GAMA BAJA</h1>
    <h5 style="text-align: center;">
    <p>
      El principal problema de la gama baja, es que no ofrece una buena relación calidad-precio. Es decir, sí, te puedes llevar un móvil de menos de 100 euros que funcione durante un tiempo razonable, pero sus características jamás llamarán la atención, ni estarán por encima de su precio.
   </p>
  </h5>
  </div>
  <div class="col-md-6"><img src="https://lh3.googleusercontent.com/proxy/Hqg-A8-BGTQ1sHdF5RrHV0JIS2Gskmm8j0RVazt_vMl62GPoh9lmVTbpK-FeQbsistnlSfKoZCajD7qT9jYOUOSWpR37mNNGvnqGqMudXA" 
    style="padding-top: 5%; width: 500px; height: 350px;"></div>
  </div>


  