<h1 style="color: red; text-align: center; padding-top: 2%;">
    LISTADO DE POKEMONES 
</h1>
<div class="container" >
    <nav style="padding-bottom: 50px;"> <!--style="padding-bottom: 200px espacio abajo de pagina-->
      <div class="row">
      </div>
      <br>
      <div class="row">
        <div class="col-md-6"  style="padding-top: 10px; text-align: left;text-align:center; color: red;">
            <h3>POKEMONES DE FUEGO</h3>
          <h5>
            <p style="color: black">
                El tipo Fuego ha sido desde siempre uno de los favoritos por parte de la comunidad, contando entre sus filas a Pokémn que han conseguido encandilar a miles de personas en todo el mundo,
                 ya sea por su ferocidad o por su aspecto adorable.
            </p>
          </h5>
        </div>
        <div class="col-md-3">
          <img src="https://media.redadn.es/abl/art/3396_b.jpg" 
          style="padding-top: 0%; width: 300px; height: 200px;">
        </div>
           <!-- padding-top: 10% para salto con la otra imagen-->
           <div class="col-md-6"  style="padding-top: 10px; text-align: left;text-align:center; color: red;">
            <h3>POKEMONES DE AGUA</h3>
          <h5>
            <p style="color: black">
                Se dice que es puro y que suele adaptarse a cualquier situación o condición climática, ya que el agua puede adoptar cualquier forma en cualquier momento. Por ejemplo, en un vaso adopta una forma, mientras que en un cubo adopta otra distinta.
            </p>
          </h5>
        </div>
        <div class="col-md-3">
          <img src="https://elcomercio.pe/resizer/geEJqv6vdyRe0kbtCLrKZoQ1xgE=/980x528/smart/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/XHLDSKZAMZCYJDBMZ6IQ7LN3XQ.jpg" 
          style="padding-top: 3%; width: 300px; height: 200px;">
        </div>
        </div>

        <div style="text-align: center; margin-left: 10px">
<button 
[routerLink]="['/home']"
type="button" class="btn btn-primary"
class="btn btn-dark" style="margin: 12px; 
color: white; background-color:darkblue;"
>VOLVER A CASA</button></div>